 {% assign theme = site.data.themes[site.ui_theme] %}
  <h5 class="card-title" style="font-family:{{ theme.education-title-font}};font-size:{{ theme.education-title-size }};color:{{theme.education-font-color}};"></h5>
  <ul class="list-unstyled">
  {% for experience in site.data.experience %}
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <li class="media">
          <img src="{{ experience.Icon }}" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mb-1">{{ experience.Position }}</h5>
            <p><b>{{ experience.Program }}</b>, {{ experience.Location }}</p>
          </div>
        </li>
        <small>{{ experience.StartDate }} - {{ experience.EndDate }}</small>
      </div>
      <p class="mb-1">{{ experience.description }}</p>
      {% if experience.tech %}
      <ul>
        {% for tech in experience.tech %}
        <li>{{ tech }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  {% endfor %}
  </ul>